/* Nav Bar CSS */
#profile {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    border: solid 5px;
    text-align: center; 
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


